.img-comp-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.img-comp-img {
  box-sizing: border-box;
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  box-sizing: border-box;
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  box-sizing: border-box;
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}